<launch>
  <!-- common parameters-->
  <arg name="TriggerMode_default" value="Off"/>
   <arg name="AcquisitionMode_default" value="Continuous"/>

  <!-- TODO fetch namespace (as reported in aravis) from command line and make it the namespace and the default is empty-->
  <arg name="camera_1_SERIAL" value="camera_35743"/>
  <group ns="$(arg camera_1_SERIAL)">
    <node name="aravis_camera_node" pkg="camera_aravis" type="camnode">
      <param name="frame_id" value="$(arg camera_1_SERIAL)"/>
      <param name="TriggerMode" value="$(arg TriggerMode_default)"/>
      <param name="AcquisitionMode" value="$(arg AcquisitionMode_default)"/>
    </node>
  </group>
</launch>