<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<launch>
  <node name="camera_aravis_node" pkg="camera_aravis" type="camera_aravis_node" output="screen">
    <param name="camera_serials" value="['4103217455']" />
    <rosparam ns="4103217455/feature"> ExposureTime: '30000' </rosparam>
    <rosparam ns="4103217455/feature"> LineSelector: 'Line3' </rosparam>
    <rosparam ns="4103217455/feature"> LineSource: 'UserOutput3' </rosparam>
    <rosparam ns="4103217455/feature"> LineMode: 'Output' </rosparam>
    <rosparam ns="4103217455/feature"> LineSource: 'UserOutput3' </rosparam>
    <rosparam ns="4103217455/feature"> UserOutputSelector: 'UserOutput3' </rosparam>
    <rosparam ns="4103217455/feature"> UserOutputValue: 'true' </rosparam>
  </node>
</launch>
